<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{base :: parent(~{::content}, ~{::title}, ~{::pageScript})}">

<head>
    <title>Home Page</title>
</head>

<body>

<th:block th:fragment="content">

    <h1 class="text-4xl font-bold">
        This is the Home Page
    </h1>

    <p class="mt-4 text-lg">
        Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Autem, aliquid.
    </p>

</th:block>


<th:block th:fragment="pageScript">

    <script>
        console.log("This is the Home Page script.");
    </script>

</th:block>

</body>
</html>