<div 
data-th-if="${session.message}"
data-th-object="${session.message}"
data-th-fragment="messagebox"
data-th-classappend="*{'text-'+ type +' -800 border border-'+type+'-300 rounded-lg bg-'+type+'-50 dark:bg-gray-800 dark:text-'+type+'-400 dark:border-'+type+'-800'}"
class="flex items-center p-4 mb-4 text-sm "
     role="alert">

    <svg class="flex-shrink-0 inline w-4 h-4 me-3"
         aria-hidden="true"
         xmlns="http://www.w3.org/2000/svg"
         fill="currentColor"
         viewBox="0 0 20 20">

        <path d="M18 10A8 8 0 1 1 2 10a8 8 0 0 1 16 0Zm-7-4a1 1 0 1 0-2 0 1 1 0 0 0 2 0Zm-1 3a1 1 0 0 0-1 1v3a1 1 0 0 0 2 0v-3a1 1 0 0 0-1-1Z"/>

    </svg>

    <span class="sr-only">Info</span>

    <div>
       
        <span data-th-text="*{content}"></span>
    </div>

    <th:block  th:text="${@sessionHelper.removeMessage()}"></th:block>

</div>