<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
    th:replace="~{base :: parent(~{::content}, ~{::title}, ~{::pageScript})}">

<head>
    <title>Sign Up</title>
</head>

<body>
    <th:block th:fragment="content">

        <div class="grid grid-cols-12">

            <div class="col-span-4 md:col-span-2 lg:col-span-3 xl:col-span-4"></div>
            <!--6 ki space le rhi -->
            <div class="col-span-12 md:col-span-8 lg:col-span-6 xl:col-span-4">
                <!-- card -->

                <div 
                    class="block p-6 border-t-8 border-red-500 bg-white rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-y-teal-900 dark:hover:bg-gray-700">

                    <!-- message here -->
                     <div data-th-replace="message::messagebox">

                     </div>
                    <h5 class="mb-1 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
                        Signup Here
                    </h5>

                    <p class="font-normal text-gray-400 dark:text-gray-400">
                        start managing contacts on cloud....
                    </p>

                    <!-- Name -->
                    <form 
                     th:action="@{'/do-register'}"
                      method="post"  
                      data-th-object="${userForm}"
                      class="mt-2"
                      novalidate>
                      

                        <div class="mb-2">
                            <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                                Name
                            </label>

                            <input type="text" id="name"
                            th:field="*{name}"
                             class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg
               focus:ring-blue-500 focus:border-blue-500
               block w-full p-2.5
               dark:bg-gray-700
               dark:border-gray-600
               dark:placeholder-gray-400
               dark:text-white
               dark:focus:ring-blue-500
               dark:focus:border-blue-500" placeholder="Enter Here" required />
                
               <p
                th:if="${#fields.hasErrors('name')}"
                data-th-errors="*{name}"
                class="text-red-600 px-2 py-1">Name is required</p>

                        </div>

                        <!-- Email feild -->

                        <div class="mb-2">
                            <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                                Email
                            </label>

                            <input type="email" id="email"
                             th:field="*{email}"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg
               focus:ring-blue-500 focus:border-blue-500
               block w-full p-2.5
               dark:bg-gray-700
               dark:border-gray-600
               dark:placeholder-gray-400
               dark:text-white
               dark:focus:ring-blue-500
               dark:focus:border-blue-500" placeholder="name@flowbite.com" required />

                <p
                th:if="${#fields.hasErrors('email')}"
                data-th-errors="*{email}"
                class="text-red-600 px-2 py-1">Email is required</p>
                        </div>


                        <!-- Password feild -->

                        <div class="mb-2">
                            <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                                Password
                            </label>

                            <input type="password" id="password"
                             th:field="*{password}"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg
               focus:ring-blue-500 focus:border-blue-500
               block w-full p-2.5
               dark:bg-gray-700
               dark:border-gray-600
               dark:placeholder-gray-400
               dark:text-white
               dark:focus:ring-blue-500
               dark:focus:border-blue-500" placeholder="Create Password" required />

                <p
                th:if="${#fields.hasErrors('password')}"
                data-th-errors="*{password}"
                class="text-red-600 px-2 py-1">Password is required</p>
                        </div>


                        <!-- Phone Number feild -->

                        <div class="mb-2">
                            <label for="phone" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                                Contact Number
                            </label>

                            <input type="text" id="phone"
                             th:field="*{phoneNumber}"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg
               focus:ring-blue-500 focus:border-blue-500
               block w-full p-2.5
               dark:bg-gray-700
               dark:border-gray-600
               dark:placeholder-gray-400
               dark:text-white
               dark:focus:ring-blue-500
               dark:focus:border-blue-500" required />

                <p
                th:if="${#fields.hasErrors('phoneNumber')}"
                data-th-errors="*{phoneNumber}"
                class="text-red-600 px-2 py-1">Contact Number is required</p>
                        </div>

                        <!-- about textarea -->

                        <div class="mb-2">

                            <label for="about" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                                Write something about yourself
                            </label>

                            <textarea 
                             th:field="*{about}"
                            id="about"
                             rows="4" class="block w-full p-2.5 text-sm text-gray-900 bg-gray-50 border border-gray-300 rounded-lg
               focus:ring-blue-500 focus:border-blue-500
               dark:bg-gray-700 dark:border-gray-600
               dark:placeholder-gray-400 dark:text-white
               dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Write here..."></textarea>

                <p
                th:if="${#fields.hasErrors('about')}"
                data-th-errors="*{about}"
                class="text-red-600 px-2 py-1">About is required</p>

                        </div>


                        <!-- Button -->

                        <div class="mb-2 flex justify-center space-x-3">
                            <button
                             type="submit"
                             class="px-3 py-2 rounded bg-gray-800 text-white  dark:bg-blue-700 dark:hover:bg-blue-800 hover:bg-gray-700">Signup</button>

                            <button
                            type="reset"
                             class="px-3 py-2 rounded bg-orange-800 text-white  dark:bg-orange-700 dark:hover:bg-orange-800 hover:bg-orange-700">Reset</button>
                        
                        </div>

                       
                            

                    </form>




                </div>
            </div>

        </div>


    </th:block>


    <th:block th:fragment="pageScript">

        <script>
            console.log("This is the Register Page script.");
        </script>

    </th:block>

</body>

</html>