<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{base :: parent(~{::#content}, ~{::title}, ~{::#page-script})}">

<head>
    <title>Services Page</title>
</head>

<body>

    <section id="content">
        <h1>This is the Services Page</h1>

        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Autem, aliquid.
        </p>
    </section>

    <script id="page-script">
        // Services page JavaScript
    </script>

</body>
</html>